*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.image{
    height: 650px;
    width: 750px;
    border: 3px solid black;
    overflow: hidden;
    background-color: rgb(88, 61, 61);
    border-radius: 10px;
}


.right img{
    height: 50px;
    width: 50px;

}

.left img{
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
}

